.folio-item {
    grid-gap: 1vw;
    padding: 2vh;
    box-sizing: border-box;
    border-radius: 1vh;
    max-width: 100vw;
}

.folio-item .title {
    padding: 1vh;
    font-size: 2em;
}

.folio-item .content {
    padding: 1vh;
    height: 100%;
    width: 100%;
    min-height: 5vh;
}

.folio-item .folioImage {
    width: 100%;
}

.folio-item .folioImage img{
    width: 50%;
    height: auto;
}
