#top-banner {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 20px 10px 0;
    max-height: 10vh;
}

hr {
    margin: 0 0 1vh;
    width: 90%;
    border-top: 4px solid var(--primaryCol);
    border-left: 4px solid var(--primaryCol);
    border-right: 20px solid var(--backgroundCol);
    border-bottom: 1px solid var(--backgroundCol);
    border-radius: 4px 0 0 0;
}

#banner-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    gap: 10px;
}

#site-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#site-image img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.buttonLink {

}

#top-banner * {
    color: #DDDDDD;
}

#nav-buttons {
    gap: 20px;
}

#nav-bar button {

}

#nav-bar .emphasis {
    padding: 20px 50px;
    border-radius: 50px;
}

#nav-bar .emphasis h1 {

}

#nav-bar .emphasis.selected h1 {

}

#nav-bar .selected h1 {

}
