a, a:visited, a:active {

}

a:hover {

}

p {

}

.simple-list {

}

.logo-link {
    gap: 15px;

}

.link-wrapper {

}

.logo-link p {

}

.logo-link img {
    height: 10vw;
    flex-basis: 10vw;
}

