#top-banner {

}

hr {

}

#banner-left {

}

#site-title {

}

#site-image img {

}

.buttonLink {

}

#top-banner * {
    font-size: 1.05em;
}

#nav-buttons {

}

#nav-bar button {

}

#nav-bar .emphasis {
    padding: 10px 30px;
    border-radius: 50px;
    max-height: 80%;
}

#nav-bar .emphasis h1 {

}

#nav-bar .emphasis.selected h1 {

}

#nav-bar .selected h1 {

}
