:root {
    --primaryCol: black;
    --backgroundCol: white;
    --linkCol: #4BD5E7;
    --opacityFactor: 0.75;
}

@media (prefers-color-scheme: dark) {
    :root {

        --primaryCol: #01fba7;
        /*--primaryCol: #12EDC9;*/
        --secondaryCol: #4BD5E7CC;
        --backgroundCol: #212121;
        --fontCol: #DDDDDD;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primaryCol: #01fba7DD;
        --secondaryCol: #4BD5E7CC;

        --backgroundCol: #212121;
        --fontCol: black;
    }
}
