::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--primaryCol);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondaryCol);
}
