.simple-list {
    list-style-type: none;
}

.logo-link {
    padding-top: 0.25vw;
    text-align: justify;
}

.logo-link img {
    height: 2vh;
    width:auto;
}

.logo-link a {
    color: #435f8c;
    word-wrap: break-word;
    word-break: break-all;
}
