/*These imports wont have a performance downside as react minifies the css anyway, easier to manage the styles this way*/
@import url("individual/root.css");
@import url("individual/imageDialog.css");
@import url("individual/title-and-nav.css");
@import url("individual/text-and-links.css");
@import url("individual/scroll-bar.css");
@import url("individual/folio.css");
@import url("individual/folio-item.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvectica', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: var(--fontCol);
}

#top-view {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundCol);
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-width: 2560px;
    max-height: 100vh;
    padding: 1vw 1vw 0 1vw;
    overflow: hidden;
}

#main-div {
    overflow-y: auto;
    height: 90vh;
    max-height: 90vh;
}

body {
    background-color: var(--backgroundCol);
    /*background-color: black;*/
    color: var(--fontColor);
    display:flex;
    flex-direction: row;
    justify-content: center;
}

