.folio-item {
    margin-bottom: 1vh;
    margin-right: 5px;
}

.folio-item .title {
    font-size: 1.3em;
    margin-bottom: 1vh;
}

.folio-item .content {
    font-size: 0.75em;
}

.folio-item .folioImage {

}

.folio-item .folioImage img {
    width: 100%;
    height: auto;
}
