#name-large {
    padding: 15px 0 15px 0;
}

#home-container p {

}

#home-container {

}

#home-view {
    margin-bottom: 20vh;
}

#welcome-text {
    font-size: 1.3em;
}

#job-title {

}

#intro-text {

}
