a, a:visited, a:active {

}

a:hover {

}

p {

}

.simple-list {

}

.logo-link {

}

.link-wrapper {

}

.logo-link p {

}

.logo-link img {
    height: 10vh;
    min-width: 10vh;
    border-radius: 10px;
}

