#name-large {
    font-size: 10vw;
}

#home-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#home-view {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5vw;
    margin-bottom: 10vh;
}

#welcome-text {
    color: var(--secondaryCol);
}

#job-title {
    color: var(--secondaryCol);
}

#intro-text {
    font-size: 1em;
    max-width: 90%;
    text-align: justify;
}
